/* Navbar Styling */
.navbar {
    height: 110px;
    background-color: navy;
}

.navbar a {
    position: relative;
    left: 50px;
    color:silver;
    font-size: 25px;
    padding: 15px;
}

.navbar a:hover {
    background-color: lightgrey;
    color: black;
}

.navbar img {
    height: 70px;
    width: auto;
    position: absolute;
    right: 50px;
}



/* Overview Container */
#overview-container {
    background-image: url("/static/images/14791130_G.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -500px;
    height: 500px;

}

#overview-container p {
    width: 1000px;
    height: auto;
    font-size: 25px;
    color:gold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

#input-form {
    background-color: grey;
    height: 50px;
    padding-top: 12px;
    padding-left: 20px;
}

#input-form label {
    font-weight: bold;
}

.visual-wrapper {
    height: 500px;
    width: auto;
}

/* #david-graph {
    
} */

#tejas-graph {
    height: 500px;
    width: auto;
    padding: 20px;

}

#footer {
    position: relative;
    bottom: 0px;
    height: 75px;
    width: auto;
    background-color:grey;
    margin-top: 50px;
}

#footer div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

/* Mike's Bubble Graph Styling */

#mike-graph {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

#toolbar {
    position: relative;
    left: 5.5%;
}

svg {
    background: rgba(221, 221, 221, 0.767);
}
.selected {
    fill: none;
}
  
.button {
    min-width: 130px;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
}
.title {
    font-family: 'Freshman', sans-serif;
  }
.button.active {
    background: #000;
    color: #fff;
}

/* Mike's Bubble Graph Styling End */

#map {
    height: 980px;
    width: 90%;
    margin: 10px;
    position: relative;
    top: 10%;
    left: 5%;
}




